/* Css Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { 
    margin:0; 
    padding:0; 
    border:0; 
    outline:0; 
    font-size:100%; 
    vertical-align:baseline; 
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}
body {
    color:#000;
    font:62.5%/1 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    font-size:12px;
    background:#066398 url(/dml_001/img/bgr_body2.jpg) repeat-x center top;
}
ul,ol {
    list-style:none;
}
img,fieldset {
    border:none;
}	
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
.skip {
    position:absolute;
    left:-9999px; 
}


/*
 *-----------------------*
 *     page structure    *
 * (please see main.css) *
 *-----------------------*
*/


/**
 * Form Content
*/
#rbm_bizdebt {
    margin: auto;
    width: 281px !important;
    min-height: 100px;
    text-align: center;
    font-size: 12px;
    position: relative;
    *display:block;
    border: none;
    zoom: 1;
}



#rbm_bizdebt_header {
    height: 40px;
    padding: 10px;
    background: #171f32 url(/dml_001/img/bg-form-title.png) repeat-x;
    border-top: 1px solid #171f32;
    border-left: 1px solid #171f32;
    border-right: 1px solid #171f32;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}
#rbm_bizdebt_header p {
    margin-bottom: 10px;
}
#rbm_bizdebt_header .progress {
    width: 248px;
    height: 12px;
    background: url(/dml_001/img/progress_bar.png) no-repeat;
    margin-top: 5px;
}
#rbm_bizdebt_content {
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #fff;
    padding: 5px 5px 0px 5px;
    z-index: 100;
}
#rbm_bizdebt_content .section {
    display: inline-block;
    margin: 0px 5px 10px 5px;
    text-align: left;
    *display: inline;
    *zoom: 1;
}
#rbm_bizdebt_content .center {
    text-align: center;
}
#rbm_bizdebt_content select {
    padding: 4px;
    border: 1px solid #acacac;
    background: #FAFAFA;
    border-radius: 2px;
}
#rbm_bizdebt_content select.half {
    width: 112px;
}
#rbm_bizdebt_content select.full {
    width: 240px;
}
#rbm_bizdebt_content select.date_drop {
    width: 95px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#rbm_bizdebt_content input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
}
#rbm_bizdebt_content input[type=text] {
    padding: 7px 5px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    background: #fafafa;
    box-shadow:  inset 0 2px 3px #DDD;
}
#rbm_bizdebt_content input[type=text].quarter {
    width: 55px;
}
#rbm_bizdebt_content input[type=text].half {
    width: 100px;
}
#rbm_bizdebt_content input[type=text].full {
    width: 230px;
}
#rbm_bizdebt_content input[type=text].calendar {
    background-image:url(/dml_001/img/calendar.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-left:25px;
}
#rbm_bizdebt_content input[type=text].calendar.quarter {
    width: 35px;
}
#rbm_bizdebt_content input[type=text].calendar.half {
    width: 80px;
}
#rbm_bizdebt_content input[type=text].calendar.full {
    width: 210px;
}
#rbm_bizdebt_content .quarter {
    width: 65px;
}
#rbm_bizdebt_content .half {
    width: 110px;
}
#rbm_bizdebt_content .full {
    width: 240px;
}
#rbm_bizdebt_content label {

    color: #304167;
    display: block;
    font: bold 12px 'Helvetica Neue',Helvetica,Arial,Sans-Serif !important;
    margin: 0 0 3px 0;
    text-align: left;

}
#rbm_bizdebt_content label span.subheading {
    font-weight: normal;
    font-style: italic;
    color: #999;
}
#rbm_bizdebt_content .privacy_text {
    font-size: 11px;
    font-weight: bold;
    display: normal;
    margin: 0px;
    line-height: 100%;
    width: 215px;
    float: right;
    margin-left: 5px;
    color: #6b6b6b;
}
#rbm_bizdebt_content .privacy_text a {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(247, 139, 17); 
}
#rbm_bizdebt_content .privacy_text.error a {
    color: #B94A48;
}
#rbm_bizdebt_content .debt_consent {
    width: 215px;
    float: right;
    margin: 0px;
    margin-left: 5px;
    font-size: 110%;
    font-weight: bold;
}
#rbm_bizdebt_content .sm_gray {
    color: #6b6b6b;
    font-size: 90%;
    font-weight: normal;
}
#rbm_bizdebt_content .lg_gray {
    color: #6b6b6b;
    font-size: 120%;
    font-weight: bold;
    margin: 0px 2px;
}
#rbm_bizdebt_content .phone,
#rbm_bizdebt_content .datebox {
    width: 55px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#rbm_bizdebt_content .datebox {
    width: 55px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#rbm_bizdebt_content .color_box {
    border-radius: 3px;
    background: #394e7b;
    color: #fff;
    padding: 10px;
    text-align: center;
    line-height: 150%;

}
#rbm_bizdebt_content .headline_shadow {
    color: #2D3E61;
    font-weight: bold;
    text-shadow: 1px 1px 1px #888;
    margin-top: 5px;
}
#rbm_bizdebt_content .emphasis {
    color: #5D9EBB;
}
#rbm_bizdebt_footer {
    background-color: #f7f7f7;
    height: 35px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 12px;
    position: relative;
    text-align: left !important;
}
#rbm_bizdebt_footer input[type=button], #rbm_bizdebt_footer input[type=submit] {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0px;
    margin: 0px;
    width: 128px;
    height: 60px;
    border: none;
    cursor: pointer;
}
#rbm_bizdebt_back_btn {
    margin-left: 10px;
    margin-right: 30px;
    display: inline-block;
    box-shadow: 0 0 10px #ccc;
    padding-top: 4px;
    background: url(../img/bg-input.gif);
    font: bold 20px 'Helvetica Neue',Helvetica,Arial,Sans-Serif !important;
    color: #BBB;
    *zoom: 1;
    height: 28px !important;
    width: 102px !important;
    text-align: center !important;
    border: solid #FFFFFF 2px;
    border-radius: 10px;
    cursor: pointer;

}
#rbm_bizdebt_next_btn {
    background: url(../img/bg-button.gif) 0 50% repeat-x;
    border: 2px solid #fff !important;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block !important;
    font: bold 20px 'Helvetica Neue',Helvetica,Arial,Sans-Serif !important;
    height: 36px;	
    padding: 5px 15px !important;
    position: absolute;
    text-shadow: 0 1px 2px #aa720c;	
    height: 36px !important;
    width: 102px !important;
    text-align: center !important;
}
#rbm_bizdebt_next_btn.single {
    margin-left: 0px !important;
}
#rbm_bizdebt_submit_btn {
    background: url(/dml_001/img/submit_btn.png) no-repeat;
    width: 260px !important;
    height: 60px !important;
}
#rbm_bizdebt_privacy_content {
    width: 480px;
    height: 540px;
}
#rbm_bizdebt_conditions_content {
    width: 480px;
    height: 540px;
}
#rbm_bizdebt_check_content {
    width: 355px;
    height: 355px;
}
#rbm_bizdebt_ssn_content {
    width: 355px;
    height: 355px;
}

#rbm_bizdebt_content .errorBox {
    width: 230px;
    display: inline-block;
    margin: 10px;
    text-align: left;
    *display: inline;
    *zoom: 1;
    background: #F2DEDE;
    border: 1px solid #B94A48;
    border-radius: 4px;
    padding: 5px;
    color: #B94A48;
    font-size: 12px;
    z-index: 10;
}

#rbm_bizdebt_content .errorBox h2 {
    background:  url(/dml_001/img/error_x_sm.png) no-repeat top left;
    padding-left: 18px;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 5px;
    z-index: 20;
    color: #B94A48;
}

#rbm_bizdebt_content .errorBox ul,
#rbm_bizdebt_content .errorBox ul li {
    list-style-position: inside !important;
    z-index: 30;
}
#rbm_bizdebt_content .error {
    color: #B94A48;
}
#rbm_bizdebt_content select.error,
#rbm_bizdebt_content input[type=checkbox].error,
#rbm_bizdebt_content input[type=text].error {
    border: 1px solid #B94A48;
}

.rbm_bizdebt_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: url(/dml_001/img/blk_bg.png) repeat;
    z-index: 200;
    display: none;    
}
.rbm_bizdebt_overlay_content {
    position: relative;
    margin: 100px auto;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    width: 900px !important;
}
.rbm_bizdebt_overlay_txt {
    position: relative;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border: 5px solid #555;
    overflow: scroll;
    max-height: 100%;

}
.rbm_bizdebt_overlay_close {
    position: absolute;
    top: -14px;
    right: -14px;
    background: url(/dml_001/img/close-btn.png) no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.rbm_bizdebt_overlay_content h1 {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 120%;
    text-shadow: none !important;
}
.rbm_bizdebt_overlay_content h2 {
    margin: 10px 0px;
    font-size: 110%;
    font-style: italic;
}
.rbm_bizdebt_overlay_content p {
    margin: 10px 0px;   
}

/**
 * Plain Page CSS
*/
#rbm_bizdebt_plain_container {
    border: 1px solid #dfdfdf;
    background: #fff;
    z-index: 100;
    margin: 0px auto;
    width: 270px !important;
    min-height: 300px;
    text-align: center;
    font-size: 12px;
    display:inline-block;
    *display:block;
    zoom: 1;
}
#rbm_bizdebt_plain_container img {
    margin-bottom: -3px;
}
#rbm_bizdebt_plain_container .section {
    width: 270px;
    display: inline-block;
    margin: 5px 0px;
    *display: inline;
    *zoom: 1;
}
#rbm_bizdebt_plain_container .center {
    text-align: center;
}
#rbm_bizdebt_plain_container .loader {
    padding: 15px;
}
#rbm_bizdebt_plain_container ul {
    list-style-position: outside;
    list-style-image: url(/dml_001/img/checkmark_inactive.png) !important;
    font-style: italic;
    color: #9d9d9d;
    margin: 10px;
    text-align: left;
}
#rbm_bizdebt_plain_container ul li {
    margin-left: 20px;
    margin-bottom: 10px;
}
#rbm_bizdebt_plain_container ul li.active {
    list-style-image: url(/dml_001/img/checkmark_active.png) !important; 
}
#rbm_bizdebt_plain_container .color_box {
    width: 260px;
    background: #1e2a44;
    color: #fff;
    padding: 5px;
    text-align: center;
    line-height: 150%;
}
#rbm_bizdebt_plain_container .fine_print {
    color: #6b6b6b;
    padding: 10px;
    font-size: 90%;
}
#rbm_bizdebt_plain_container .sm_gray {
    color: #6b6b6b;
    margin: 0px 2px;
}
#rbm_bizdebt_plain_container .lg_gray {
    color: #6b6b6b;
    font-size: 120%;
    font-weight: bold;
    margin: 0px 2px;
}
#rbm_bizdebt_plain_container .center {
    text-align: center;
}
#rbm_bizdebt_plain_container .padded {
    padding: 15px;
}
#rbm_bizdebt_plain_container .headline {
    font-size: 18px;
    font-weight: bold;
    line-height: 125%;
}
#rbm_bizdebt_plain_container .green {
    color: #74934d;
}
#rbm_bizdebt_plain_container .navy {
    color: #1e2a44;
}
#rbm_bizdebt_plain_container .teal {
    color: #4896ad;
}
#rbm_bizdebt_plain_container .red {
    background: #9B2426;
}

/** Lightbox **/
#rbm_bizdebt_lightbox_content {
    width: 625px;
    height: 540px;
    margin-top: 100px !important;
}
#lb-top-1 {
    background: url(/dml_001/img/bg-top1.png) 0 0 repeat;
    height: 78px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #c9763b;
}
#lb-top-2 {
    background: url(/dml_001/img/bg-top.png) 0 0 repeat;
    border-bottom: 1px solid #7d2006;
    height: 45px;
}
#lb-top-1 div {
    background: url(/dml_001/img/woman.png) -10px 0 no-repeat;
    position: absolute;
    height: 145px;
    width: 249px;
}
h1.lb-status,
h1.lb-status_small {
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 5px #693b19;
    color: #9b9b9b;
    display: block; 
    margin: 0 auto;
    padding: 4px 25px;

}
h1.lb-status {
    font: bold 17px Arial, Helvetica, sans-serif;
    width: 250px;
}
h1.lb-status_small {
    font: bold 14px Arial, Helvetica, sans-serif;
    text-align: center;
    width: 200px;
}
.green {
    color: #6fbd45;
}
.blue {
    color: #2c6ba9;
}
.close,
.close_small {
    background: url(/dml_001/img/close.png) 50% 50% no-repeat;
    border-radius: 25px;
    border: 5px solid #fff;
    height: 18px;
    position: absolute;
    width: 18px;
}
.close {
    margin: -15px 0 0 615px;
}
.close_small {
    cursor: pointer;
    margin: -15px 0 0 290px;
    text-indent: 100;
}
h2.lb-secure,
h2.lb-secure_small {
    color: #fff;    
    text-shadow: 0 1px 2px #693b19;
}
h2.lb-secure {
    font: 16px Arial, Helvetica, sans-serif;
    margin: 12px 0 0 165px;
}
h2.lb-secure_small {
    font: 15px Arial, Helvetica, sans-serif;
    margin: 20px 5px 0 5px;
    text-align: center;
}
h3.lb-wait,
h3.lb-wait_small {
    color: #fff;
    text-shadow: 0 1px 2px #693b19;
}
h3.lb-wait {
    font: 18px Arial, Helvetica, sans-serif;
    padding: 10px 0 0 165px;
}
h3.lb-wait_small {
    font: 14px Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px 0 0 0;
}
.lb-txt,
.lb-txt2 {
    line-height: 18px;
    margin: 20px 0;
    padding: 0 20px;
    text-align: center; 
}
.lb-txt {
    font: bold 13px Arial, Helvetica, sans-serif;
}
.lb-txt2 {
    font: bold 16px Arial, Helvetica, sans-serif;
}
.lb-txt2_small {
    font: bold 14px Arial, Helvetica, sans-serif;
}
#lb-wr-load {
    border-radius: 3px;
    margin: 0 auto;

}
#lb-wr-load {
    height: 30px;
    width: 240px;
}
#lb-wr-load div {
    background: url(/dml_001/img/loading.png) 50% 0 no-repeat;
    border: 1px solid #a7c7d6;
    border-radius: 3px;
    height: 25px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
/* footer */
#lb-footer {
    background: url(/dml_001/img/bg-lb-footer.png) 0 0 repeat-x #f6f6f6;
    color: #909090;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 16px;
    padding: 12px 20px 10px 20px;
}
#lb-footer h4 {
    background: url(/dml_001/img/bg-lb-footer-title.png) 0 100% repeat-x;
    display: block;
    font: bold 15px Arial, Helvetica, sans-serif;
    padding: 0 30px 12px 30px;
    margin: 0 auto 10px auto;
    text-shadow: 0 1px 0 #fff;
    width: 510px;
}

/* OVERLAY START */


.rbm_bizdebt_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: url(/dml_001/img/blk_bg.png) repeat;
    z-index: 200;
    display: none;    
}
.rbm_bizdebt_overlay_content {
    font-size: 13px;
    color: black !important;
    text-align: left;
    position: relative;
    width: 500px;
    height: 100px;
    min-height: 500px; /*Prevent IE 8 From crashing when clicked, keep this line */
    margin: 100px auto;
    overflow: visible;/*Prevent IE 8 From crashing when clicked, keep this line */
}
.rbm_bizdebt_overlay_txt {
    color: black;
    position: relative;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border: 5px solid #555;
    overflow: auto;/*Prevent IE 8 From crashing when clicked, keep this line */
    max-height: 100%;
}
.rbm_bizdebt_overlay_close {
    position: absolute;
    top: -14px;
    right: -14px;
    background: url(/dml_001/img/close-btn.png) no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.rbm_bizdebt_overlay_content h1 {
    color: black !important;
    margin: 10px 0px;
    font-weight: bold;
    font-size: 120%;
}
.rbm_bizdebt_overlay_content h2 {
    color: black !important;
    margin: 10px 0px;
    font-size: 110%;
    font-style: italic;
}
.rbm_bizdebt_overlay_content p {
    margin: 10px 0px;   
}

/* OVERLAY END */