@charset "utf-8";
/* CSS Document */
* {
    border:none; 
    margin:0; 
    padding:0;
}
.clear{
    clear:both;
    height:1%;
    visibility: hidden;
}
#parent {
    display: block; 
    position: relative;
    float: left;
    width: 500px; 
    margin-top:35px;
    margin-left: auto ;
    margin-right: auto ;
    padding-left:55px;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px;
    font-weight :bold;
    color:#FFF; 
}
#form { 
    display: block; 
    position: relative;
    float: left;
    width: 500px; 
    margin-top:5px;
    margin-left: auto ;
    margin-right: auto ;
    padding-left:55px;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px;
    font-weight :bold;
    color:#FFF; 
}
.section {
    width: 221px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 0px 0px 9px 0px;
}
.section label {
    display: block;
    margin: 0px 0px 3px 0px;
}
.full {
    width: 450px;
}
#email { 
    clear: both; 
} 
#city { 
    clear: both; 
}
#form #disclaimer {
    text-align:center;
    font-size:10px;
}
#form #disclaimer a {   
    color: #cfe7ff;
    text-decoration: underline;
}
#form #disclaimer a:hover {  
    color:#2e5686;
    text-decoration: none;
} 
#button {
    margin-top:3px; 
    margin-left:10px;
}
#form select.w145drop {
    border-top: 1px solid #9b9b9b; 
    border-left: 1px solid #9b9b9b; 
    border-bottom: 1px solid #d7d7d7; 
    border-right: 1px solid #d7d7d7; 
    font-size: 12px; 
    font-weight:bold;
    color:#1b3a69;
    padding: 5px;  
    width: 140px; 
}
#form input.w180 {
    background: url(/sds_008/img/form_bg.gif) no-repeat top left; 
    border-top: 1px solid #cfcfcf; 
    border-left: 1px solid #cfcfcf; 
    border-bottom: 1px solid #dfdfdf; 
    border-right: 1px solid #dfdfdf; 
    font-size: 12px; 
    font-weight:bold;
    color:#1b3a69;
    padding: 6px; 
    width: 200px;
}
#form input.w145 {
    background: url(/sds_008/img/form_bg.gif) no-repeat top left; 
    border-top: 1px solid #cfcfcf; 
    border-left: 1px solid #cfcfcf; 
    border-bottom: 1px solid #dfdfdf; 
    border-right: 1px solid #dfdfdf; 
    font-size: 12px; 
    font-weight:bold;
    color:#1b3a69;
    padding: 6px; 
    width: 140px;
}
#form input.w100  {
    background: url(/sds_008/img/form_bg.gif) no-repeat top left; 
    width: 100px; 
    font-size: 12px; 
    font-weight:bold;
    color:#1b3a69;
    padding: 6px;  
}
#form input.w25  {
    background: url(/sds_008/img/form_bg.gif) no-repeat top left; 
    width: 25px; 
    float:left;  
    clear: both; 
    display: block;
    font-size: 12px; 
    font-weight:bold;
    color:#1b3a69;
    padding: 6px;  
}
#form input.w51 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CFCFCF #DFDFDF #DFDFDF #CFCFCF;
    border-style: solid;
    border-width: 1px;
    color: #1B3A69;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    padding: 4px;
    width: 49px;
}
#form input.w68 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CFCFCF #DFDFDF #DFDFDF #CFCFCF;
    border-style: solid;
    border-width: 1px;
    color: #1B3A69;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    width: 66px;
}
#form a {
    color:#ffe3cc;
    text-decoration:underline; 
    
}
#form a:hover {
    color:#ffe3cc;
    text-decoration:none; 
    
}
#form input.email  {
    background: url(/sds_008/img/form_bg.gif) no-repeat top left; 
    width: 200px; 
    float:none;  
    clear: both; 
    display: block;
    font-size: 12px; 
    font-weight:bold;
    color:#1b3a69;
    padding: 6px;  
    margin-bottom: 12px;
}  
ul {
    float:left;
    text-align:left; 
} 