.need-cash {
	font: bold 45px Tahoma, Geneva, sans-serif;
}
.borrom-from {
	font: bold 19px Tahoma, Geneva, sans-serif;
}
.upto5 {
	font: bold 45px Tahoma, Geneva, sans-serif;
}
.btn-next {
	font: bold 20px Tahoma, Geneva, sans-serif;
}

