/**
 * Form Content
*/
#rbm_personalloan {
    margin: 0px auto;
    min-width: 315px;
    max-width: 315px;
    width: auto !important;
    min-height: 100px;
    text-align: center;
    font-size: 12px;
    display:inline-block;
    *display:block;
    border: none;
    zoom: 1;
    background: url(/ccl_302/img/noisy_bg.png) top center repeat-x;
}
#rbm_personalloan_header {

    padding: 15px 0px 15px 0px;
    background: #171f32 url(/ccl_302/img/noisy_bg.png) repeat-x;
    text-align: center;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 1px 0px #000;
    border-bottom: thin solid rgb(41, 145, 212);
}
#rbm_personalloan_header p {
    font-size: 10px;
    margin-bottom: 8px;
}
#rbm_personalloan_header .progress {

    width: 286px;
    height: 21px;
    /* 9 bars */
    background: url(/ccl_302/img/progress_bar9.png) no-repeat;
    /* Uncomment for 13 bars
    background: url(/ccl_302/img/progress_bar1.png) no-repeat;
    */
    margin: auto;
    display: block;
}
#rbm_personalloan_content {
    padding: 10px 5px 0px 16px;
    z-index: 100;
    min-height: 100px;
    text-align: left;
}
#rbm_personalloan_content .section {
    display: inline-block;
    margin: 0px 4px 5px 0px;
    text-align: left;
    *display: inline;
    *zoom: 1;
}
#rbm_personalloan_content .center {
    text-align: center;
}
#rbm_personalloan_content select {
    padding: 5px;
    margin: 6px auto 6px auto;
    border: 1px solid #acacac;
    background: #FAFAFA;
    border-radius: 2px;

}
#rbm_personalloan_content select.half {
    width: 133px;
}
#rbm_personalloan_content select.full {
    width: 276;
}
#rbm_personalloan_content select.date_drop {
    width: 130px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#rbm_personalloan_content input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
}
#rbm_personalloan_content input[type=text] {
    box-shadow: inset 0px 0px 2px rgb(200, 200, 200);
    padding: 5px 5px 5px 5px;
    border: 1px solid RGB(87, 87, 87);
    border-radius: 0;
    background: #fafafa;
}
#rbm_personalloan_content input[type=text].quarter {
    width: 85px;
}
#rbm_personalloan_content input[type=text].half {
    width: 125px;
}
#rbm_personalloan_content input[type=text].full {
    width: 270px;
}
#rbm_personalloan_content input[type=text].calendar {
    background-image:url(/ccl_302/img/calendar.png);
    background-position: top left;
    background-repeat: no-repeat;
    padding-left:25px;
}
#rbm_personalloan_content input[type=text].calendar.quarter {
    width: 85px;
}
#rbm_personalloan_content input[type=text].calendar.half {
    width: 100px;
}
#rbm_personalloan_content input[type=text].calendar.full {
    width: 215px;
}
#rbm_personalloan_content .quarter {
    width: 85px;
}
#rbm_personalloan_content .half {
    width: 135px;
}
#rbm_personalloan_content .full {
    width: 280px;
}
#rbm_personalloan_content label {
    font-size: 11px;
    font-weight: bold;
    color: rgb(82, 82, 82);
    display: block;
    margin: 2px 0px;
    line-height: 110%;
    font-family: helvetica;
}
#rbm_personalloan_content label span.subheading {
    font-weight: normal;
    font-style: italic;
}
#rbm_personalloan_content label span.subheading a{
    color: rgb(129, 189, 255) !important;
}

#rbm_personalloan_content .privacy_text {
    font-size: 11px;
    font-weight: normal;
    display: block;
    margin: 0px;
    line-height: 100%;
    width: 260px;
    float: right;
    margin-left: 5px;
    color: #6b6b6b;
}
#rbm_personalloan_content .privacy_text a, blue_link {
    font-weight: bold;
    color: rgb(81,  81, 237);
    text-decoration: underline;
    
}
#rbm_personalloan_content .privacy_text.error a {
    color: #B94A48;
}
#rbm_personalloan_content .debt_consent {
    width: 215px;
    float: right;
    margin: 0px;
    margin-left: 5px;
    font-size: 110%;
    font-weight: bold;
}
#rbm_personalloan_content .sm_gray {
    color: #6b6b6b;
    font-size: 90%;
    font-weight: normal;
}
#rbm_personalloan_content .lg_gray {
    color: #6b6b6b;
    font-size: 130%;
    font-weight: bold;
    margin: 0px 2px;
    font-family: "mpLt", helvetica;
}
#rbm_personalloan_content .phone,
#rbm_personalloan_content .datebox {
    padding-left: 1px !important;
    padding-right: 1px !important;
    width: 30px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#rbm_personalloan_content .datebox {
    width: 30px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#rbm_personalloan_content .color_box {
    border-radius: 3px;
    background: #333333;
    color: #fff;
    padding: 10px;
    text-align: center;
    line-height: 150%;
    width: 350px;
}
#rbm_personalloan_content .color_box img {

}
#rbm_personalloan_content .headline_shadow {
    color: rgb(70, 70, 70);
    font-weight: bold;
    text-shadow: 0 1px 1px rgb(200, 200, 200);
    margin-top: 5px;
    font-size: 15px;
}
#rbm_personalloan_content .emphasis {
    color: #5D9EBB;
}
#rbm_personalloan_footer {
    position: relative;
    height: 45px;
    padding: 0px 0px 0px 10px;
}
#rbm_personalloan_footer input[type=button], #rbm_personalloan_footer input[type=submit] {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 3px black;
    color: white;
    border: none;
    *display: inline;
    *zoom: 1;
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: 37px;
    cursor: pointer;

}
#rbm_personalloan_back_btn {


    background-repeat: no-repeat;


    width:88px;
    height:37px;

    float: left;
    margin: 0px;
    margin-right: 5px !important;
    margin-left: 5px;
    background: url(/ccl_302/img/nav_buttons.png) no-repeat;
    background-position:0px -74px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: none;
    cursor: pointer;
}
#rbm_personalloan_next_btn {



    width:156px !important;
    height:37px !important;

    background: url(/ccl_302/img/nav_buttons.png) 0px 0px no-repeat;
    margin-left: 20px !important;
}
#rbm_personalloan_next_btn.single {

    background-repeat: no-repeat;
    background-image: url(/ccl_302/img/nav_buttons.png);
    background-position:0px -37px;
    width:180px !important;
    height:37px !important;
    margin-left: 105px !important;
}
#rbm_personalloan_submit_btn {
    background: url(/ccl_302/img/submit_btn.png) no-repeat;
    width: 260px !important;
    height: 60px !important;
    top: -10px !important;
    position: absolute;
    left: 35px !important;
}
#rbm_personalloan_privacy_content {
    width: 480px;
    height: 540px;
}
#rbm_personalloan_conditions_content {
    width: 480px;
    height: 540px;
}
#rbm_personalloan_check_content {
    width: 355px;
    height: 355px;
}
#rbm_personalloan_ssn_content {
    width: 355px;
    height: 355px;
}

#rbm_personalloan_content .errorBox {
    width: 270px;
    display: inline-block;
    text-align: left;
    *display: inline;
    *zoom: 1;
    background: #F2DEDE;
    border: 1px solid #B94A48;
    border-radius: 4px;
    padding: 5px;
    color: #B94A48;
    font-size: 12px;
    z-index: 10;
}

#rbm_personalloan_content .errorBox h2 {
    background:  url(/ccl_302/img/error_x_sm.png) no-repeat top left;
    padding-left: 18px;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 5px;
    z-index: 20;
}

#rbm_personalloan_content .errorBox ul,
#rbm_personalloan_content .errorBox ul li {
    list-style-position: inside !important;
    z-index: 30;
}
#rbm_personalloan .error {
    color: #B94A48 !important;
}
#rbm_personalloan_content select.error,
#rbm_personalloan_content input[type=checkbox].error,
#rbm_personalloan_content input[type=text].error {
    border: 1px solid #B94A48;
}

.rbm_personalloan_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background: url(/ccl_302/img/blk_bg.png) repeat;
    z-index: 200;
    display: none;    
}
.rbm_personalloan_overlay_content {
    text-align: left;
    position: relative;
    width: 500px;
    height: 100px;
    min-height: 500px; /*Prevent IE 8 From crashing when clicked, keep this line */
    margin: 100px auto;
    overflow: visible;/*Prevent IE 8 From crashing when clicked, keep this line */
}
.rbm_personalloan_overlay_txt {
    color: black;
    position: relative;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border: 5px solid #555;
    overflow: auto;/*Prevent IE 8 From crashing when clicked, keep this line */
    max-height: 100%;
}
.rbm_personalloan_overlay_close {
    position: absolute;
    top: -14px;
    right: -14px;
    background: url(/ccl_302/img/close-btn.png) no-repeat;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
.rbm_personalloan_overlay_content h1 {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 120%;
}
.rbm_personalloan_overlay_content h2 {
    margin: 10px 0px;
    font-size: 110%;
    font-style: italic;
}
.rbm_personalloan_overlay_content p {
    margin: 10px 0px;   
}

/**
 * Plain Page CSS
*/
#rbm_personalloan_plain_container {
    border: 1px solid #dfdfdf;
    background: #fff;
    z-index: 100;
    margin: 0px auto;
    width: 100% !important;
    min-height: 300px;
    text-align: center;
    font-size: 12px;
    display:inline-block;
    *display:block;
    zoom: 1;
    padding-bottom: 20px;
}
#rbm_personalloan_plain_container img {
    margin-bottom: -3px;
}
#rbm_personalloan_plain_container .section {
    width: 270px;
    display: inline-block;
    margin-right: 10px;
    *display: inline;
    *zoom: 1;
}
#rbm_personalloan_plain_container .center {
    text-align: center;
}
#rbm_personalloan_plain_container .loader {
    padding: 15px;
}
#rbm_personalloan_plain_container ul {
    list-style-position: outside;
    list-style-image: url(/ccl_302/img/checkmark_inactive.png) !important;
    font-style: italic;
    color: #9d9d9d;
    margin: 10px;
    text-align: left;
}
#rbm_personalloan_plain_container ul li {
    margin-left: 20px;
    margin-bottom: 10px;
}
#rbm_personalloan_plain_container ul li.active {
    list-style-image: url(/ccl_302/img/checkmark_active.png) !important; 
}
#rbm_personalloan_plain_container .color_box {
    width: 260px;
    background: #1e2a44;
    color: #fff;
    padding: 5px;
    text-align: center;
    line-height: 150%;
}
.color_box img{
    float:left;
    margin-right: 4px;
}
#rbm_personalloan_plain_container .fine_print {
    color: #6b6b6b;
    padding: 10px;
    font-size: 90%;
}
#rbm_personalloan_plain_container .sm_gray {
    color: #6b6b6b;
    margin: 0px 2px;
}
#rbm_personalloan_plain_container .lg_gray {
    color: #6b6b6b;
    font-size: 120%;
    font-weight: bold;
    margin: 0px 2px;
}
#rbm_personalloan_plain_container .center {
    text-align: center;
}
#rbm_personalloan_plain_container .padded {
    padding: 15px;
}
#rbm_personalloan_plain_container .headline {
    font-size: 18px;
    font-weight: bold;
    line-height: 125%;
}
#rbm_personalloan_plain_container .green {
    color: #74934d;
}
#rbm_personalloan_plain_container .navy {
    color: #1e2a44;
}
#rbm_personalloan_plain_container .teal {
    color: #4896ad;
}
#rbm_personalloan_plain_container .red {
    background: #9B2426;
}

/** Lightbox **/
#rbm_personalloan_lightbox_content {
    width: 625px;
    height: 540px;
    margin-top: 100px !important;
}
#lb-top-1 {
    background: url(/ccl_302/img/bg-top1.png) 0 0 repeat;
    height: 78px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #c9763b;
}
#lb-top-2 {
    background: url(/ccl_302/img/bg-top.png) 0 0 repeat;
    border-bottom: 1px solid #7d2006;
    height: 45px;
}
#lb-top-1 div {
    background: url(/ccl_302/img/woman.png) -10px 0 no-repeat;
    position: absolute;
    height: 145px;
    width: 249px;
}
h1.lb-status,
h1.lb-status_small {
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 5px #693b19;
    color: #9b9b9b;
    display: block; 
    margin: 0 auto;
    padding: 4px 25px;

}
h1.lb-status {
    font: bold 17px Arial, Helvetica, sans-serif;
    width: 250px;
}
h1.lb-status_small {
    font: bold 14px Arial, Helvetica, sans-serif;
    text-align: center;
    width: 200px;
}
.green {
    color: #6fbd45;
}
.blue {
    color: #2c6ba9;
}
.close,
.close_small {
    background: url(/ccl_302/img/close.png) 50% 50% no-repeat;
    border-radius: 25px;
    border: 5px solid #fff;
    height: 18px;
    position: absolute;
    width: 18px;
}
.close {
    margin: -15px 0 0 615px;
}
.close_small {
    cursor: pointer;
    margin: -15px 0 0 290px;
    text-indent: 100;
}
h2.lb-secure,
h2.lb-secure_small {
    color: #fff;    
    text-shadow: 0 1px 2px #693b19;
}
h2.lb-secure {
    font: 16px Arial, Helvetica, sans-serif;
    margin: 12px 0 0 165px;
}
h2.lb-secure_small {
    font: 15px Arial, Helvetica, sans-serif;
    margin: 20px 5px 0 5px;
    text-align: center;
}
h3.lb-wait,
h3.lb-wait_small {
    color: #fff;
    text-shadow: 0 1px 2px #693b19;
}
h3.lb-wait {
    font: 18px Arial, Helvetica, sans-serif;
    padding: 10px 0 0 165px;
}
h3.lb-wait_small {
    font: 14px Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px 0 0 0;
}
.lb-txt,
.lb-txt2 {
    line-height: 18px;
    margin: 20px 0;
    padding: 0 20px;
    text-align: center; 
}
.lb-txt {
    font: bold 13px Arial, Helvetica, sans-serif;
}
.lb-txt2 {
    font: bold 16px Arial, Helvetica, sans-serif;
}
.lb-txt2_small {
    font: bold 14px Arial, Helvetica, sans-serif;
}
#lb-wr-load {
    border-radius: 3px;
    margin: 0 auto;

}
#lb-wr-load {
    height: 30px;
    width: 240px;
}
#lb-wr-load div {
    background: url(/ccl_302/img/loading.png) 50% 0 no-repeat;
    border: 1px solid #a7c7d6;
    border-radius: 3px;
    height: 25px;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}
/* footer */
#lb-footer {
    background: url(/ccl_302/img/bg-lb-footer.png) 0 0 repeat-x #f6f6f6;
    color: #909090;
    text-align: center;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 16px;
    padding: 12px 20px 10px 20px;
}
#lb-footer h4 {
    background: url(/ccl_302/img/bg-lb-footer-title.png) 0 100% repeat-x;
    display: block;
    font: bold 15px Arial, Helvetica, sans-serif;
    padding: 0 30px 12px 30px;
    margin: 20px auto 10px auto;
    text-shadow: 0 1px 0 #fff;
    width: 510px;
    position: relative;
}
/*Bubbles grid */
#rbm_personalloan_bubbles{
    width: 280px;
    margin: auto;
    position: relative;

}
#rbm_personalloan_bubbles label{
    font-family: "gBld" !important;
    font-size: 15px !important;
    text-shadow: 0px 1px 1px white;
    margin-top: 15px !important;
    color: rgb(79,79,79);
    letter-spacing: 0px;
    word-spacing: 0px;

}

.bublewrapper{
    border: solid 1px rgb(152, 174 ,187);
    padding: 8px 0px 4px 0px;
    border-radius: 6px;
    position: relative;
    max-width: auto;
    background-color: rgb(85, 137, 153); 
    background-image: url(/ccl_302/img/bubble_back.png);
}


#arrow_down{
    position: absolute;
    top: 13px;
}

#rbm_personalloan_loan_ammounts{
    width: auto;
    text-align: center;
    margin: auto !important;
    position: relative;
}

.rbm_personalloan_bubble_option{
    width: 67px;
    height: 36px;
    background-image: url(/ccl_302/img/sprite_sheet_buttons.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 1px 1px 4px 1px;
}
/* Start Sprite Master CSS */
.sprite_button_1000
{

    background-position:0px 0px;
    width:62px;
    height:34px;
}
.sprite_button_2000
{
    background-position:-66px 0px;
    width:62px;
    height:34px;
}
.sprite_button_3000
{
    background-position:-132px 0px;
    width:62px;
    height:34px;}
.sprite_button_4000{
    background-position:0px -38px;
    width:62px;
    height:34px;
}
.sprite_button_5000{
    background-position:-66px -38px;
    width:62px;
    height:34px;}
.sprite_button_6000{
    background-position:-132px -38px;
    width:62px;
    height:34px;
}
.sprite_button_7000{
    background-position:0px -76px;
    width:62px;
    height:34px;
}
.sprite_button_7500{
    background-position:-66px -76px;
    width:62px;
    height:34px;
}

.sprite_button_1000:hover, .bubble_button_100_selected {
    background-position:-66px -190px !important;
    width:62px;
    height:34px;
}
.sprite_button_2000:hover, .bubble_button_200_selected {
    background-position:-132px -190px;
    width:62px;
    height:34px;
}
.sprite_button_3000:hover, .bubble_button_300_selected {
    background-position:0px -228px;
    width:62px;
    height:34px;
}
.sprite_button_4000:hover, .bubble_button_400_selected {
    background-position:-66px -228px;
    width:62px;
    height:34px;
}
.sprite_button_5000:hover, .bubble_button_500_selected {
    background-position:-132px -228px;
    width:62px;
    height:34px;
}
.sprite_button_6000:hover, .bubble_button_600_selected {
    background-position:0px -266px;
    width:62px;
    height:34px;
}
.sprite_button_7000:hover, .bubble_button_700_selected {
    background-position:-66px -266px;
    width:62px;
    height:34px;
}
.sprite_button_7500:hover, .bubble_button_750_selected{
    background-position:-132px -266px;
    width:62px;
    height:34px;
}
/* End Sprite Master CSS */

#what_can_i_do{
    margin-bottom: 13px;
    font-size: 25px;
    color: rgb(38, 66, 127);
}